<script id="filter-template" type="text/html">
    <div class="row filter-header">
        <div class="small-12 columns filter-summary">
            <div class="row">
                <div class="small-11 columns">
                    <div id="filter-description">
                        [[ #each describeFilter(filter) ]]
                            <span class="filter radius label">
                                [[ displayName(s) ]] [[ v ]] [[ displayValue(s, o) ]]
                                <i class="fa fa-close clickable"
                                   on-click="removefilter:[[ k ]]"></i>
                            </span>
                        [[ /each ]]
                    </div>
                </div>

                <div class="small-1 columns filter-edit">
                    [[ #if editing ]]
                    <i class="fa fa-close clickable"
                       on-click="editfilter:stop"></i>
                    [[ else ]]
                    <i class="fa fa-plus clickable"
                       on-click="editfilter:start"></i>
                    [[ /if ]]
                </div>
            </div>
        </div>
        [[ #if editing ]]
        <div class="small-12 columns filter-form">
            <div class="row">
                <div class="small-11 columns">
                    <form>
                        <select name="filter_subject"
                                value="[[ addFilter.field ]]">
                            [[ #each fields ]]
                            <option value="[[ name ]]">[[ label ]]</option>
                            [[ /each ]]
                        </select>

                        <select name="filter_verb"
                                value="[[ addFilter.verb ]]">
                            [[ #each getFieldType(addFilter.field).options
                            ]]
                            <option value="[[ id ]]">[[ name ]]</option>
                            [[ /each ]]
                        </select>

                        [[ #getFieldType(addFilter.field) ]]
                        [[ #if valueType == 'select' ]]
                        <select name="filter_object"
                                value="[[ addFilter.value ]]">
                            [[ #each getOptions(addFilter.field) ]]
                            <option value="[[ 0 ]]">[[ 1 ]]</option>
                            [[ /each ]]
                        </select>
                        [[ elseif valueType == 'truth' ]]
                        <select name="filter_object"
                                value="[[ addFilter.value ]]">
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                        [[ elseif valueType == 'date' ]]
                        <input name="filter_object" type="date"
                               value="[[ addFilter.value ]]">
                        [[ else ]]
                        <input name="filter_object" type="text"
                               value="[[ addFilter.value ]]">
                        [[ /if ]]
                        [[ /each ]]
                        <button class="button radius small"
                                on-click="addfilter">Add filter
                        </button>
                    </form>
                </div>
            </div>
        </div>
        [[ /if ]]
    </div>

    <div class="row">
    <ul class="inline-list">
      <li><a href="/[[ filterHash ]]">Dashboard</a></li>
      <li><a href="/calls[[ filterHash ]]">Call List View</a></li>
      <li><a href="/predictive[[ filterHash ]]">Predictive Modeling (Preview)</a></li>
    </ul>
    </div>
</script>
