<script id="filter-button-template" type="text/html">
    <div class="filter-button btn-group">
        <button type="button" class="btn [[ buttonClass(field, filter) ]] dropdown-toggle"
                id="button_[[ field ]]"
                data-field="[[ field ]]"
                data-field-type="[[ getFieldType(field).type ]]"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            [[ #if filterValue(field, filter) ]]
                [[ displayName(field) ]]: [[ displayValue(field, filterValue(field, filter)) ]]
            [[ else ]]
            [[ displayName(field) ]]
            [[ /if ]]
            <span class="caret"></span>
        </button>
        [[ #getFieldType(field) ]]
        [[ #if type == 'select' ]]
            <ul class="dropdown-menu">
                [[ #if filterValue(field, filter) ]]
                    <li><a on-click="removefilter:[[ field ]]">Clear</a></li>
                    <li role="separator" class="divider"></li>
                [[ /if ]]
                [[ #each options ]]
                    <li><a on-click="addfilter:[[field]],[[ 0 ]]">[[ 1 ]]</li>
                [[ /each ]]
            </ul>
        [[ elseif type == 'boolean' ]]
            <ul class="dropdown-menu">
                [[ #if filterValue(field, filter) ]]
                    <li><a on-click="removefilter:[[ field ]]">Clear</a></li>
                    <li role="separator" class="divider"></li>
                [[ /if ]]
                <li><a on-click="addfilter:[[field]],[[ 'True' ]]">True</a></li>
                <li><a on-click="addfilter:[[field]],[[ 'False' ]]">False</a></li>
            </ul>
        [[ elseif type == 'daterange' ]]
        [[ /if ]]
        [[ /each ]]
    </div>
</script>

<script id="filter-template" type="text/html">
    <div class="filters m-b text-md-center">
        <filter-button field="time_received" />
        <filter-button field="shift" />
        <filter-button field="dow_received" />
        <filter-button field="district" />
        <filter-button field="beat" />
        <filter-button field="squad" />
        <filter-button field="priority" />
        <filter-button field="nature__nature_group" />
        <filter-button field="initiated_by" />
        <filter-button field="call_source" />
        <filter-button field="cancelled" />
        [[ #if filter ]]
        <div class="btn-group filter-button">
            <a class="btn btn-danger" href="#!">Clear All Filters</a>
        </div>
        [[ /if ]]
    </div>
</script>

<script id="officer-allocation-filter-template" type="text/html">
    <div class="filters m-b text-md-center">
        <filter-button field="time" />
        <filter-button field="call_unit" />
        <filter-button field="call_unit__beat" />
        <filter-button field="call_unit__district" />
        <filter-button field="call_unit__squad" />
        [[ #if filter ]]
        <div class="btn-group filter-button">
            <a class="btn btn-danger" href="#!">Clear All Filters</a>
        </div>
        [[ /if ]]
    </div>
</script>
