<script id="filter-template" type="text/html">
    <div class="filter-sidebar">
        <div class="filters">
            <div id="filter-description">
                [[ #each describeFilter(filter) ]]
                <div class="filter radius label">
                        <span>
                            [[ displayName(s) ]] [[ v ]] [[ displayValue(s, o) ]]
                        </span>
                    <i class="fa fa-close clickable"
                       on-click="removefilter:[[ k ]]"></i>
                </div>
                [[ else ]]
                <div>No active filters.</div>
                [[ /each ]]
            </div>
        </div>

        <div>
            <form>
                <select name="filter_subject"
                        value="[[ addFilter.field ]]">
                    [[ #each fields ]]
                    <option value="[[ name ]]">[[ fieldLabel(.) ]]</option>
                    [[ /each ]]
                </select>

                <select name="filter_verb"
                        value="[[ addFilter.verb ]]">
                    [[ #each getLookups(addFilter.field) ]]
                    <option value="[[ id ]]">[[ name ]]</option>
                    [[ /each ]]
                </select>

                [[ #getFieldType(addFilter.field) ]]
                [[ #if type == 'select' ]]
                <select name="filter_object"
                        value="[[ addFilter.value ]]">
                    [[ #each options ]]
                    <option value="[[ 0 ]]">[[ 1 ]]</option>
                    [[ /each ]]
                </select>
                [[ elseif type == 'boolean' ]]
                <select name="filter_object"
                        value="[[ addFilter.value ]]">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                [[ elseif type == 'date' ]]
                <input name="filter_object" type="date"
                       value="[[ addFilter.value ]]">
                [[ else ]]
                <input name="filter_object" type="text"
                       value="[[ addFilter.value ]]">
                [[ /if ]]
                [[ /each ]]
                <button class="button radius small"
                        on-click="addfilter">Add filter
                </button>

                [[ #loading ]]
                <div class="loading-spinner">
                    <i class="fa fa-3x fa-pulse fa-spinner"></i>
                </div>
                [[ /loading ]]
            </form>
        </div>
    </div>
    <div id="sidebar-sizer">&nbsp;</div>

</script>
