<script id="navbar-template" type="text/html">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/[[ filterHash ]]">DPD CFS</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li class="has-dropdown">
                    <a href="#">Dashboards</a>
                    <ul class="dropdown">
                        <li><a href="/[[ filterHash ]]">Call Volume</a></li>
                        <li><a href="/response_time[[ filterHash ]]">Response Time</a></li>
                    </ul>
                </li>

                <li><a href="/map[[ filterHash ]]">Map</a></li>
                <li><a href="/calls[[ filterHash ]]">Call List</a></li>
                <li><a href="/predictive[[ filterHash ]]">Call Volume
                    Forecasting (Preview)</a></li>
            </ul>
        </section>
    </nav>
</script>