{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CFS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
        <link type="text/sass" rel="stylesheet" href="{% static 'dashboard/app.scss' %}">
    {% endcompress %}
    {% block head %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<!-- Latest compiled and minified JavaScript -->
{% compress js %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    {% block javascript %}{% endblock %}
{% endcompress %}
</body>
</html>