{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DPD CFS</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Audiowide'
          rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
<div class="container-fluid container-max-1800" id="dashboard">
    {% block content %}
    {% endblock %}
</div>
<!-- end container-fluid -->

<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static "img/RTI_logo_blue.gif" %}" alt="RTI International">
            Copyright 2015 RTI International.
        </div>
    </div>
</div>

{% include "_navbar.html" %}
{% include "_filter.html" %}
{% block templates %}{% endblock %}

<script id="loading-template" type="text/html">
    [[ #if loading ]]
    <div id="loading">
        <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
    [[ /if ]]
</script>

<script id="chart-header-template" type="text/html">
    <div>
        <h3 class="chart-title">
            [[ title ]] <i class="fa fa-info-circle clickable"
                           on-click="toggleExplanation"></i>
        </h3>
        [[ #unless hidden ]]
        <div class="explanation well">
            [[ >content ]]
        </div>
        [[ /unless ]]
    </div>
</script>

<!-- Latest compiled and minified JavaScript -->
<script>
    var filterForm = {{ form|safe }};
</script>
{% block javascript %}{% endblock %}
</body>
</html>
