{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CFS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
        <link type="text/sass" rel="stylesheet" href="{% static 'dashboard/app.scss' %}">
    {% endcompress %}
    {% block head %}{% endblock %}
</head>
<body>
{% include "_filter.html" %}
{% block content %}
{% endblock %}
<!-- Latest compiled and minified JavaScript -->
{% compress js %}
    <script>
        var filterForm = {{ form.as_json|safe }};
    </script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'ractive/ractive.js' %}"></script>
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'underscore/underscore.js' %}"></script>
    <script src="{% static 'polyfills.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    {% block javascript %}{% endblock %}
{% endcompress %}
</body>
</html>
