{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <script id="calls-template" type="text/html">
        <Filter />
        <div class="container">
            <div class="row">
                <div class="small-12 columns">
                    <div id="call-list">
                        <h3>List View</h3>

                        [[ #if loading ]]
                        <div class="loading">
                            <img src="{% static "ellipsis.svg" %}">
                        </div>
                        [[ /if ]]
                    </div>
                </div>
            </div>
            
            <div class="row">
                <footer class="small-12 columns">RTI 2015</footer>
            </div>

        </div>
    </script>
    <div id="calls"></div>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'calls/calls.js' %}"></script>
{% endblock %}
</body>
</html>