{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <script id="dashboard-template" type="text/html">
        <filter-form />
        <div class="container">
            <div class="row">
                <div class="small-12 columns">
                    <div id="volume-over-time">
                        <h3>Call Volume Over Time</h3>

                        [[ #if loading ]]
                        <div class="loading">
                            <img src="{% static "ellipsis.svg" %}">
                        </div>
                        [[ /if ]]
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div id="day-hour-heatmap">
                        <h3>Day/Hour Heatmap</h3>

                        [[ #if loading ]]
                        <div class="loading">
                            <img src="{% static "ellipsis.svg" %}">
                        </div>
                        [[ /if ]]
                    </div>
                </div>
            </div>
            <div class="row">
                <footer class="small-12 columns">RTI 2015</footer>
            </div>

        </div>
    </script>
    <div id="dashboard"></div>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'dimple/dist/dimple.v2.1.6.js' %}"></script>
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}
</body>
</html>