{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">
{% endblock %}

{% block content %}
    <script id="dashboard-template" type="text/html">
        <Filter />
        <div class="row">
            <div class="small-12 columns">
                <div id="volume-by-date">
                    <h3 class="chart-title">Call Volume Over Time</h3>
                    {% include "_loading.html" %}
                    <svg></svg>
                </div>
                <div class="chart-controls">
                    <ul class="inline-list">
                        <li><a href="" on-click="filterByDate:ytd">Year to Date</a></li>
                        <li><a href="" on-click="filterByDate:28days">Past 28 Days</a></li>
                        <li><a href="" on-click="filterByDate:7days">Past 7 Days</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div id="day-hour-heatmap">
                    <h3 class="chart-title">Day/Hour Heatmap</h3>
                    {% include "_loading.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-7 columns">
                <div id="volume-by-source">
                    <h3 class="chart-title">Call Volume By Source</h3>
                    {% include "_loading.html" %}
                    <svg></svg>
                </div>

            </div>
            <div class="small-5 columns">
                <div id="volume-by-beat">
                    <h3 class="chart-title">Call Volume By Beat</h3>
                    {% include "_loading.html" %}
                    <svg></svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div id="volume-by-nature">
                    <h3 class="chart-title">Call Volume By Nature</h3>
                    {% include "_loading.html" %}
                    <svg></svg>
                </div>
            </div>
        </div>
    </script>
    <div id="dashboard" class="dashboard"></div>
    <div class="row">
        <footer class="small-12 columns">RTI 2015</footer>
    </div>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'underscore-contrib/underscore.object.builders.js' %}"></script>
    <script src="{% static 'underscore-contrib/underscore.object.selectors.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3/build/nv.d3.js' %}"></script>
    <script src="{% static 'colorbrewer/colorbrewer.js' %}"></script>
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}
</body>
</html>