{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block head %}
    <style>
        rect.bordered {
            stroke: #E6E6E6;
            stroke-width: 2px;
        }

        text.mono {
            font-size: 9pt;
            font-family: Consolas, courier;
            fill: #aaa;
        }

        text.axis-workweek {
            fill: #000;
        }

        text.axis-worktime {
            fill: #000;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 columns">
                <div id="volume-over-time">
                    <h3>Call Volume Over Time</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div id="day-hour-heatmap">
                    <h3>Day/Hour Heatmap</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <footer class="small-12 columns">RTI 2015</footer>
        </div>

    </div>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'dimple/dist/dimple.v2.1.6.js' %}"></script>
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'underscore/underscore.js' %}"></script>
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}
</body>
</html>