{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">
{% endblock %}

{% block content %}
    <script id="dashboard-template" type="text/html">
        <NavBar filterHash="[[ filterHash ]]"/>
        <LoadingIndicator loading="[[ loading ]]" />
        <div class="row dashboard">
            <div class="col-md-12">
                <Filter/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div id="allocation-over-time">
                            <chart-header title="Average Officer Allocation">
                                <p>
                                    This chart shows average officer allocation
                                    by time of day in 10 minute intervals for
                                    the selected time period.
                                </p>
                            </chart-header>
                            <svg></svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="on-duty-by-beat">
                            <chart-header title="Average Number of Officers On Duty by Beat">
                                <p>
                                    This chart shows the average number of officers on duty
                                    at a single time by beat for the selected time period.
                                </p>
                            </chart-header>
                            <svg></svg>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="on-duty-by-district">
                            <chart-header title="Average Number of Officers On Duty by District">
                                <p>
                                    This chart shows the average number of officers on duty
                                    at a single time by district for the selected time period.
                                </p>
                            </chart-header>
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block javascript %}
    <script src="{% static 'underscore-contrib/underscore.object.builders.js' %}"></script>
    <script src="{% static 'underscore-contrib/underscore.object.selectors.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3/build/nv.d3.js' %}"></script>
    <script src="{% static 'officer_allocation/officer_allocation.js' %}"></script>
{% endblock %}
</body>
</html>
