{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">
{% endblock %}

{% block content %}
    <script id="dashboard-template" type="text/html">
        <NavBar filterHash="[[ filterHash ]]"/>
        <div class="row dashboard">
            <div class="large-3 columns">
                <Filter/>
            </div>
            <div class="large-9 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <div id="volume-by-date">
                            <chart-header title="Call Volume Over Time">
                                <p>
                                    This chart shows day-by-day overall call
                                    volume for the current selection of calls.
                                </p>

                                <p>
                                    "Past 28 Days" and "Past 7 Days" are based
                                    from the last full Sunday-Saturday period.
                                    If today is Wednesday, 10/7, "Past 7 Days"
                                    shows calls from Sunday, 9/27 to Saturday,
                                    10/4.
                                </p>
                            </chart-header>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                        <div class="chart-controls">
                            <ul class="inline-list">
                                <li><a href="" on-click="filterByDate:ytd"> Year
                                    to Date </a></li>
                                <li><a href="" on-click="filterByDate:28days">
                                    Past 28 Days </a></li>
                                <li><a href="" on-click="filterByDate:7days">
                                    Past 7 Days </a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <div id="volume-by-dow">
                            <chart-header title="Call Volume By Day of Week">
                                <p>
                                    This chart shows us the call volume by the
                                    day of week. You can click any nature here
                                    to filter the calls to only calls on that
                                    day of week.
                                </p>
                            </chart-header>
                        </div>

                        <div id="volume-by-shift">
                            <chart-header title="Call Volume By Shift">
                                <p>
                                    This chart shows us the call volume by
                                    shift. Shift 1 is 0600-1800 and shift 2 is
                                    1800-0600.
                                </p>
                            </chart-header>
                        </div>

                        <div id="volume-by-source">
                            <chart-header title="Call Volume By Source">
                                <p>
                                    This chart shows us the percentage of calls
                                    initiated by an officer versus the
                                    percentage created by all other means.
                                </p>
                            </chart-header>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div id="volume-by-beat">
                            <chart-header title="Call Volume By Beat">
                                This chart shows the call volume by Durham beat.
                                You can click any beat here to filter the calls
                                to only that beat's calls.
                            </chart-header>
                            {% include "_loading.html" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <div id="volume-by-nature">
                            <chart-header title="Call Volume By Nature">
                                <p>This chart shows the call volume by the
                                    nature of the call. You can click any nature
                                    here to filter the calls to only calls with
                                    that nature.</p>

                                <p>The chart only shows the top 30 natures by
                                    call volume. All other ones are grouped
                                    under "ALL OTHER".</p>
                            </chart-header>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <div id="day-hour-heatmap">
                            <chart-header title="Day/Hour Heatmap">
                                <p>
                                    This heatmap shows us the average call
                                    volume for each hour of the day for each day
                                    of the week. The darker the color, the
                                    heavier the volume for that time period.
                                </p>
                            </chart-header>
                            {% include "_loading.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'underscore-contrib/underscore.object.builders.js' %}"></script>
    <script src="{% static 'underscore-contrib/underscore.object.selectors.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3/build/nv.d3.js' %}"></script>
    <script src="{% static 'colorbrewer/colorbrewer.js' %}"></script>
    <script src="{% static 'charts.js' %}"></script>
    <script src="{% static 'overview/overview.js' %}"></script>
{% endblock %}
</body>
</html>