{% extends "base.html" %}

{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'call_volume' 'css' %}
{% endblock %}

{% block templates %}
    <script id="dashboard-template" type="text/html">
        <NavBar filterHash="[[ filterHash ]]"/>
        <LoadingIndicator loading="[[ loading ]]"/>
        <div class="row">
            <div class="col-md-12">
                <Filter/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div id="volume-by-date" class="col-md-12">
                                <chart-header title="Call Volume Over Time">
                                    <p>
                                        This chart shows day-by-day overall call
                                        volume for the current selection of
                                        calls.
                                    </p>

                                    <p>
                                        "Past 28 Days" and "Past 7 Days" are
                                        based
                                        from the last full Sunday-Saturday
                                        period.
                                        If today is Wednesday, 10/7, "Past 7
                                        Days"
                                        shows calls from Sunday, 9/27 to
                                        Saturday,
                                        10/4.
                                    </p>
                                </chart-header>
                                <svg></svg>
                            </div>
                        </div>

                        <div class="row">
                            <div id="volume-by-dow" class="col-md-6">
                                <chart-header
                                        title="Call Volume By Day of Week">
                                    <p>
                                        This chart shows us the call volume by
                                        the
                                        day of week. You can click any day of
                                        the week
                                        here
                                        to filter the calls to only calls on
                                        that
                                        day of week.
                                    </p>
                                </chart-header>
                            </div>

                            <div id="volume-by-shift" class="col-md-6">
                                <chart-header title="Call Volume By Shift">
                                    <p>
                                        This chart shows us the call volume by
                                        shift. Shift 1 is 0600-1800 and shift 2
                                        is
                                        1800-0600.
                                    </p>
                                </chart-header>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <chart-header title="Call Volume By Beat">
                            This map shows the call volume by Durham beat.
                            You can click any beat here to filter the calls
                            to only that beat's calls.
                        </chart-header>

                        <div id="map-container">
                            <div id="legend"></div>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md-block"></div>
                <div class="row">
                    <div id="volume-by-source" class="col-md-6 col-lg-4">
                        <chart-header title="Call Volume By Source">
                            <p>
                                This chart shows us the percentage of calls
                                initiated by an officer versus the
                                percentage created by all other means.
                            </p>
                        </chart-header>
                    </div>

                    <div id="volume-by-nature" class="col-md-12 col-lg-8">
                        <chart-header title="Call Volume By Nature">
                            <p>This chart shows the call volume by the
                                nature of the call. You can click any nature
                                here to filter the calls to only calls with
                                that nature.</p>

                            <p>The chart only shows the top 30 natures by
                                call volume. All other ones are grouped
                                under "ALL OTHER".</p>
                        </chart-header>
                    </div>
                </div>
                <div class="row">
                    <div id="heatmap" class="col-md-12">
                        <chart-header title="Call Volume Heatmap">
                            <p>
                                This heatmap shows mean call volume by day
                                and hour over the selected calls. The hours are
                                separated into 5 equal buckets, so the
                                lightest color represents the 1/5th of times that
                                have the least call volume, the next color shows
                                the next 1/5th of hours and so on.
                            </p>
                        </chart-header>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
  {% render_bundle 'call_volume' 'js' %}
{% endblock %}
