{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="small-12 columns">
            <h1>Predicting Citizen-Initiated Call Volume</h1>
            <p>The number of citizen-initiated calls on a given day is heavily influenced
            by several predictable factors, such as different aspects of the weather 
            (temperature, precipitation), time (day of week, month), and the previous
            day's call volume.  Given several years of data, we can fit a model based
            on past call volume and predict upcoming calls fairly accurately.</p>
            <h2>Results</h2>
            <p>
            We trained our model on 7 years and 11 months of data (January 2007
            to November 2014).  We held out the last month of available data to
            check the accuracy of our predictions.  Here are the results:
            </p>
            <div class="row predictive-figure">
                <img id="pred-figure" src="{% static "img/pred_vs_actual_call_volume_daily.png" %}" alt="Predicted vs Actual Call Volume (Daily)" />
            </div>
            <p>Our daily predictions had a mean absolute percent error (MAPE) of 6.9%,
            meaning we can expect them to be off by less than 6.9% on an average day.
            The chart confirms, showing that although our model does not always exactly
            follow the actual call volume, it does track spikes relatively well.
            </p>
            <p>We could also provide even more accurate predictions on a weekly basis,
            since including a larger sample of days to model call volume cancels out
            some of the unpredictability involved in trying to predict a single day.
            Here are the daily predictions, aggregated to provide weekly predictions:
            </p>
            <div class="row predictive-figure">
                <img id="pred-figure" src="{% static "img/pred_vs_actual_call_volume_weekly.png" %}" alt="Predicted vs Actual Call Volume (Weekly)" />
            </div>
            <p>
            The MAPE for our weekly predictions was even lower at 3.0%.  We believe
            that these predictions are accurate enough to be helpful for resource
            allocation.
            </p>


            <h2>Data</h2>
            <p>We combined two data sources to create the set used to fit the model.
            The Durham Police provided a list of all non-cancelled calls by call source
            for the years
            2007-2014.  We dropped all non-citizen-initiated calls and 
            aggregated this data to the daily level.  We then joined it
            to daily forecasts for the years 2007-2014 taken from
            <a href='http://forecast.io'>forecast.io</a>.  Because of this, making
            predictions requires only pulling weather forecasts for the desired days;
            because our model is trained on forecasts and not actual weather data,
            we always have the variables we're using available, without having to attempt
            to predict their values in the future.
            </p>
            <h2>Model</h2>
            <p>The model is composed of two parts.  We first apply a linear regression
            to calculate
            the expected call volume for the day based on the values of several variables.
            </p>
            <p>The variables used in the linear regression are:
                <ul>
                    <li>Day of week</li>
                    <li>Month</li>
                    <li>Whether the day is Christmas</li>
                    <li>Whether the day is Thanksgiving</li>
                    <li>Maximum apparent temperature (binned, quartiles)</li>
                    <li>Maximum temperature (natural log transform)</li>
                    <li>Pressure (natural log transform)</li>
                    <li>Pressure (natural log transform) * wind speed</li>
                    <li>Humidity (natural log transform)</li>
                </ul>
                In our training data, these variables together accounted for 51.6% of
                the variance in call volume.</p>
            <p>However, overall call volume is not static; it changes over time
            in a seasonal pattern, as we observed by looking at the residuals of our
            linear model.  We needed a way to account for these periodic changes.
            For that reason, the second component of our model is applying
            a (2,1) ARIMA model to the results of the linear regression.  The ARIMA
            takes care of any periodic shifts in the response variable over time.
            </p>
        </div>
    </div>


    <div class="row">
        <footer class="small-12 columns">RTI 2015</footer>
    </div>

{% endblock %}

</body>
</html>
