{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">
{% endblock %}

{% block content %}
    <script id="dashboard-template" type="text/html">
        <NavBar filterHash="[[ filterHash ]]"/>
        <div class="row dashboard">
            <div class="large-3 columns">
                <Filter/>
            </div>
            <div class="large-9 columns">
                <div class="row">
                    <div class="large-6 columns">
                        <div id="ort-by-priority">
                            <h3 class="chart-title">Officer Mean Response Time By
                                Priority</h3>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                        <div class="explanation">
                            This chart shows us average officer response time
                            for each
                            priority for the current call selection.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div id="ort-by-source">
                            <h3 class="chart-title">Officer Mean Response Time By
                                Source</h3>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                        <div class="explanation">
                            This chart shows us average officer response time
                            for each
                            call source for the current call selection.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div id="ort-by-beat">
                            <h3 class="chart-title">Officer Mean Response Time By
                                Beat</h3>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                        <div class="explanation">
                            This chart shows us average officer response time
                            for each
                            beat for the current call selection.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'underscore-contrib/underscore.object.builders.js' %}"></script>
    <script src="{% static 'underscore-contrib/underscore.object.selectors.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3/build/nv.d3.js' %}"></script>
    <script src="{% static 'colorbrewer/colorbrewer.js' %}"></script>
    <script src="{% static 'overview/response_time.js' %}"></script>
{% endblock %}
</body>
</html>