{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">
{% endblock %}

{% block templates %}
    <script id="dashboard-template" type="text/html">
        <NavBar filterHash="[[ filterHash ]]"/>
        <div class="row">
            <div class="col-md-3">
                <Filter/>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div id="ort">
                            <chart-header title="Officer Response Time">
                                <p>This chart shows us the median officer
                                    response time for the current call
                                    selection, as well as the range of response
                                    times by quartile.</p>
                            </chart-header>
                            {% include "_loading.html" %}
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div id="ort-by-priority">
                            <chart-header
                                    title="Officer Mean Response Time By Priority">
                                <p>This chart shows us average officer response
                                    time for each priority for the current call
                                    selection.</p>
                            </chart-header>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div id="ort-by-source">
                            <chart-header
                                    title="Officer Mean Response Time By Source">
                                <p>
                                    This chart shows us average officer response
                                    time for each call source for the current
                                    call selection. </p>
                            </chart-header>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="ort-by-beat">
                            <chart-header
                                    title="Officer Mean Response Time By Beat">
                                <p>
                                    This chart shows us average officer response
                                    time for each beat for the current call
                                    selection.
                                </p>
                            </chart-header>
                            {% include "_loading.html" %}
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
{% block javascript %}
    <script src="{% static 'underscore-contrib/underscore.object.builders.js' %}"></script>
    <script src="{% static 'underscore-contrib/underscore.object.selectors.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3/build/nv.d3.js' %}"></script>
    <script src="{% static 'colorbrewer/colorbrewer.js' %}"></script>
    <script src="{% static 'overview/response_time.js' %}"></script>
{% endblock %}
</body></html>