@import "settings";
@import "mixins";
@import "foundation/scss/foundation.scss";

body {
  margin-top: 0px;
}

.filter-header {
  background-color: $jet;
  color: $ghost;
  @include radius(0 0 5px 5px);
  margin-bottom: 20px;
  padding: 10px;
}

.filter-edit {
  text-align: right;
}

.filter-form {
  background-color: $ghost;
  color: $jet;
  margin-top: 10px;
  padding: 10px 5px;
  border: 5px solid $ghost;
}

.filter.label {
  background-color: $smoke;
  color: $jet;
  font-size: 0.9rem;
  margin-right: 5px;
}

.loading {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

// Heat map styles

rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px;
}

text.mono {
  font-size: 9pt;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

h3.chart-title {
  font-size: 120%;
}

.explanation {
  @extend .panel;
  font-size: 0.9rem;

  p {
    font-size: 0.9rem;
  }
}

.call-record {
  border-bottom: 1px solid #777788;
  padding: 1rem 0;
  margin: 1rem 0;

  dt, dd { display: inline; margin: 0; }

  dt {
    width: 100px;
    text-align: right;
  }

  dd:after {
	content: '\A';
	white-space: pre;
  }
}