@import "settings";
@import "mixins";
@import "foundation/scss/foundation.scss";

body {
    margin-top: 0px;
}

.filter-header {
    background-color: $jet;
    color: $ghost;
    @include radius(0 0 5px 5px);
    margin-bottom: 20px;
    padding: 10px;
}

.filter-edit {
    text-align: right;
}

.filter.label {
    background-color: $smoke;
    color: $jet;
    font-size: 0.9rem;
    margin-right: 5px;
}

.loading {
    text-align: center;
}

