@import "settings";
@import "foundation/scss/foundation.scss";

body {
    margin-top: 20px;
}

.axis {
    font-size: 80%;
}

.chart {
    border: 1px #CCC solid;
    padding: 10px 20px;
    margin: 10px 0;
}