<NavBar filterHash="{{ filterHash }}" />
<LoadingIndicator loading="{{ loading }}" />
<div class="row dashboard">
  <div class="col-md-12">
    <Filter/>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div id="allocation-over-time">
          <chart-header title="Average Officer Allocation">
            <p>
              This chart shows average officer allocation by time of day in 10 minute intervals for the selected time period.
            </p>
          </chart-header>
          <svg></svg>
        </div>
      </div>
    </div>
  </div>
</div>
