@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow
}

$white: #FFFFFF;
$ghost: #FAFAFA;
$snow: #F9F9F9;
$vapor: #F6F6F6;
$white-smoke: #F5F5F5;
$silver: #EFEFEF;
$smoke: #EEEEEE;
$gainsboro: #DDDDDD;
$iron: #CCCCCC;
$base: #AAAAAA;
$aluminum: #999999;
$jumbo: #888888;
$monsoon: #777777;
$steel: #666666;
$charcoal: #555555;
$tuatara: #444444;
$oil: #333333;
$jet: #222222;
$black: #000000;

.footer {
  margin-top: 10px;
  border-top: 1px $iron solid;
}

#loading {
  position: fixed;
  top: 30%;
  left: 46%;
  @include border-radius(10px);
  border: 1px solid $gainsboro;
  background-color: $white-smoke;
  color: $jet;
  padding: 20px;
  z-index: 9999;
  font-size: 400%;
  text-align: center;
}

.navbar-brand {
  font-family: 'Audiowide', sans-serif;
}

.filter-button {
  margin-bottom: 10px;
}

.leaflet-top, .leaflet-bottom {
  z-index: 999 !important;
}

.dropdown-menu {
  cursor: pointer;
}

.container-max-1800 {
  max-width: 1800px;
}

.filter-sidebar {
  background-color: $jet;
  color: $ghost;
  @include border-radius(5px);
  padding: 20px 10px;
}

.filters {
  margin-bottom: 50px;
}

.filter.btn {
  background-color: $smoke;
  color: $jet;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
  cursor: default;

  i {
    float: right;
  }
}

.clickable {
  cursor: pointer;
}

.filter-form {
  background-color: $ghost;
  color: $jet;
  margin-top: 10px;
  padding: 10px 5px;
  border: 5px solid $ghost;
}

.loading {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

// Heat map styles

rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px;
}

text.mono {
  font-size: 9pt;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

#volume-by-beat .nv-x .tick line, #volume-by-nature .nv-x .tick line {
  opacity: 0;
}

.top-bar {
  margin-bottom: 20px;
}

.loading-spinner {
  float: right;
  color: $smoke;
}

.boxplot {
  fill: rgb(31, 119, 180);
  stroke: rgb(31, 119, 180);
}

.boxplot.whisker {
  stroke-width: 2;
}

.mapinfo {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px;
  color: $jet;
  font-size: 120%;

  h4 {
    font-size: 100%;
    font-weight: bold;
    margin-top: 5px;
  }
}

// Icons

.icon-2x {
  font-size: 200%;
}

.icon-3x {
  font-size: 300%;
}

.icon-4x {
  font-size: 400%;
}

.icon-5x {
  font-size: 500%;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
  animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}