@import "settings";
@import "mixins";
@import "foundation/scss/foundation.scss";

body {
  margin-top: 0px;
}

.content {
  margin-top: 10px;
}

.filter-sidebar {
  background-color: $jet;
  color: $ghost;
  @include radius(5px);
  padding: 20px 10px 5px 10px;
}

.filters {
  margin-bottom: 50px;
}

.filter.label {
  background-color: $smoke;
  color: $jet;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;

  i {
    float: right;
  }
}

.filter-form {
  background-color: $ghost;
  color: $jet;
  margin-top: 10px;
  padding: 10px 5px;
  border: 5px solid $ghost;
}



.loading {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

// Heat map styles

rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px;
}

text.mono {
  font-size: 9pt;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

h3.chart-title {
  font-size: 120%;
}

.explanation {
  @extend .panel;
  font-size: 0.9rem;

  p {
    font-size: 0.9rem;
  }
}

.call-record {
  border-bottom: 1px solid #777788;
  padding: 1rem 0;
  margin: 1rem 0;

  dt, dd { display: inline; margin: 0; }

  dt {
    width: 100px;
    text-align: right;
  }

  dd:after {
	content: '\A';
	white-space: pre;
  }
}

#volume-by-beat .nv-x .tick line, #volume-by-nature .nv-x .tick line {
  opacity: 0;
}

.top-bar {
  margin-bottom: 20px;
}

.loading-spinner {
  float: right;
  color: $smoke;
}

.boxplot {
  fill: rgb(31, 119, 180);
  stroke: rgb(31, 119, 180);
}

.boxplot.whisker {
  stroke-width: 2;
}

.mapinfo {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px;

  h4 {
    font-size: 0.8rem;
    font-weight: bold;
  }

  div {
    font-size: 0.8rem;
  }
}