<div class="filter-button btn-group">
    <button type="button" class="btn {{ buttonClass(field, filter) }} dropdown-toggle"
            id="button_{{ field }}"
            data-field="{{ field }}"
            data-field-type="{{ getFieldType(field).type }}"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {{ #if filterValue(field, filter) }}
            {{ displayName(field) }}: {{ displayValue(field, filterValue(field, filter)) }}
        {{ else }}
        {{ displayName(field) }}
        {{ /if }}
        <span class="caret"></span>
    </button>
    {{ #getFieldType(field) }}
    {{ #if type == 'select' }}
        <ul class="dropdown-menu">
            {{ #if filterValue(field, filter) }}
                <li><a on-click="removefilter:{{ field }}">Clear</a></li>
                <li role="separator" class="divider"></li>
            {{ /if }}
            {{ #each options }}
                <li><a on-click="addfilter:{{field}},{{ 0 }}">{{ 1 }}</li>
            {{ /each }}
        </ul>
    {{ elseif type == 'boolean' }}
        <ul class="dropdown-menu">
            {{ #if filterValue(field, filter) }}
                <li><a on-click="removefilter:{{ field }}">Clear</a></li>
                <li role="separator" class="divider"></li>
            {{ /if }}
            <li><a on-click="addfilter:{{field}},{{ 'True' }}">True</a></li>
            <li><a on-click="addfilter:{{field}},{{ 'False' }}">False</a></li>
        </ul>
    {{ elseif type == 'daterange' }}
    {{ /if }}
    {{ /each }}
</div>
