<div class="filters m-b text-md-center">
    <filter-button field="time_received" />
    <filter-button field="shift" />
    <filter-button field="dow_received" />
    <filter-button field="district" />
    <filter-button field="beat" />
    <filter-button field="squad" />
    <filter-button field="priority" />
    <filter-button field="nature__nature_group" />
    <filter-button field="initiated_by" />
    <filter-button field="call_source" />
    <filter-button field="cancelled" />
    {{ #if filter }}
    <div class="btn-group filter-button">
        <a class="btn btn-danger" href="#!">Clear All Filters</a>
    </div>
    {{ /if }}
</div>
