upstream django_{{ project.name }} {
    server                  127.0.0.1:{{ django.port }};
}

server {
    listen                  80;
    server_name             {{inventory_hostname}};
    client_max_body_size 4G;
    charset                 utf-8;

    access_log              {{ project.root }}logs/nginx.access.{{ ansible_fqdn }}.log;
    error_log               {{ project.root }}logs/nginx.error.{{ ansible_fqdn }}.log;

    location = /favicon.ico { access_log off; log_not_found off; }

    # Enable Gzip
    gzip  on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_min_length 1100;
    gzip_buffers     4 8k;
    gzip_proxied any;
    gzip_types
        # text/html is always compressed by HttpGzipModule
        text/css
        text/javascript
        text/xml
        text/plain
        text/x-component
        application/javascript
        application/x-javascript
        application/json
        application/xml
        application/rss+xml
        font/truetype
        font/opentype
        application/vnd.ms-fontobject
        image/svg+xml;

    gzip_static on;

    gzip_proxied        expired no-cache no-store private auth;
    gzip_disable        "MSIE [1-6]\.";
    gzip_vary           on;

    location /static/ {
        alias {{ django.root }}staticfiles/;
        autoindex off;
    }

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;

        proxy_pass http://unix:{{ project.root }}gunicorn.sock;
    }
}
