description     "GUnicorn daemon"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ project.user }}
chdir {{ project.root }}
env PYTHONPATH={{ django.root }}
env DJANGO_SETTINGS_MODULE={{ django.settings }}
env DJANGO_LOG_LEVEL=DEBUG
export PYTHONPATH DJANGO_SETTINGS_MODULE DJANGO_LOG_LEVEL

exec {{ project.virtualenv }}/bin/gunicorn --workers 3 -b unix:{{ project.root }}gunicorn.sock {{ django.wsgi }}:application --settings={{ django.settings }}
