# Rename this to webapp_credentials.py and insert the proper values.

creds = {
    'SECRET_KEY': "{{ secret.secret_key }}",
    'DEV_DB_NAME': "{{ database.name }}",
    'DEV_DB_USER': "{{ database.user }}",
    'DEV_DB_PASSWORD': "{{ secret.db_password }}",
    'DEV_DB_ADDRESS': '127.0.0.1'
}
